In [94]:
import pandas as pd
import numpy as np

from bokeh.plotting import figure, show
from bokeh.io import output_notebook, output_file
from bokeh.models import ColumnDataSource
from bokeh.layouts import grid, gridplot

In [95]:
output_notebook()

# Plotting our stuff

In [97]:
# Load data
df = pd.read_csv("trades.csv")

In [112]:
p1 = figure(title="Trades by BuildingAgent", x_axis_label='Date', y_axis_label='Energy', x_axis_type='datetime')
p2 = figure(title="Trades by BatteryStorageAgent", x_axis_label='Date', y_axis_label='Energy', x_axis_type='datetime')
p3 = figure(title="Trades by GroceryStoreAgent", x_axis_label='Date', y_axis_label='Energy', x_axis_type='datetime')
p4 = figure(title="Trades by ElectricityGridAgent", x_axis_label='Date', y_axis_label='Energy', x_axis_type='datetime')

In [116]:
# Get lines
x = pd.to_datetime(df["period"].unique())

# Get building agent trades
y1 = df.loc[df['agent'] == "BuildingAgent"]["quantity"]
y2 = df.loc[df['agent'] == "BatteryStorageAgent"]["quantity"]
y3 = df.loc[df['agent'] == "GroceryStoreAgent"]["quantity"]
y4 = df.loc[df['agent'] == "ElectricityGridAgent"]["quantity"]

p1.line(x, y1, legend_label="Energy", color="blue", line_width=2)
p2.line(x, y2, legend_label="Energy", color="blue", line_width=2)
p3.line(x, y3, legend_label="Energy", color="blue", line_width=2)
p4.line(x, y4, legend_label="Energy", color="blue", line_width=2)

grid = gridplot([[p1, p2], [p3, p4]], width=500, height=500)

In [131]:
# get timestamps
x2 = df["period"].unique()

# Get PV energy amounts
PVtrades = df.loc[df['agent'] == "PVAgent"][["quantity","period"]]

# Find all datetimes
# If there is a PVAgent trade, use that
# Otherwise set zero

C:\Users\A551590\AppData\Local\Temp/ipykernel_22496/3567982169.py:7: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  y5 = pd.Series()

Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
30    168.096443
Name: quantity, dtype: float64
35    424.664698
Name: quantity, dtype: float64
40    554.959548
Name: quantity, dtype: float64
45    663.53859
Name: quantity, dtype: float64
50    722.251702
Name: quantity, dtype: float64
55    607.238346
Name: quantity, dtype: float64
60    357.908694
Name: quantity, dtype: float64
65    128.686272
Name: quantity, dtype: float64
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
134    114.209066
Name: quantity, dtype: float64
139    291.15269
Name: quantity, dtype: float64
144    627.345576
Name: quantity, dtype: float64
149    585.522538
Name: quantity, dtype: float64
154    517.962245
Name: quantity, dtype: float64
159    419.034673
Name: quantity, dtype: float64
164    310.455631
Name: quantity, dtype: float64
169    107.774753
Name: quantity, dtype: float64
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
238    188.203673
Name: quantity, dtype: float64
243    1052.814563
Name: quantity, dtype: float64
248    1455.763452
Name: quantity, dtype: float64
253    1232.975344
Name: quantity, dtype: float64
258    1405.897522
Name: quantity, dtype: float64
263    844.50366
Name: quantity, dtype: float64
268    446.380506
Name: quantity, dtype: float64
273    127.881983
Name: quantity, dtype: float64
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
342    147.989213
Name: quantity, dtype: float64
347    443.163349
Name: quantity, dtype: float64
352    587.935405
Name: quantity, dtype: float64
357    662.734301
Name: quantity, dtype: float64
362    682.037242
Name: quantity, dtype: float64
367    555.763837
Name: quantity, dtype: float64
372    306.434185
Name: quantity, dtype: float64
377    99.731861
Name: quantity, dtype: float64
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
446    140.75061
Name: quantity, dtype: float64
451    386.863105
Name: quantity, dtype: float64
456    604.825478
Name: quantity, dtype: float64
461    569.436754
Name: quantity, dtype: float64
466    565.415308
Name: quantity, dtype: float64
471    481.769231
Name: quantity, dtype: float64
476    984.449981
Name: quantity, dtype: float64
481    378.015924
Name: quantity, dtype: float64
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
550    152.010659
Name: quantity, dtype: float64
555    351.47438
Name: quantity, dtype: float64
560    497.050726
Name: quantity, dtype: float64
565    656.299987
Name: quantity, dtype: float64
570    576.675356
Name: quantity, dtype: float64
575    488.203544
Name: quantity, dtype: float64
580    326.541415
Name: quantity, dtype: float64
585    116.621934
Name: quantity, dtype: float64
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
654    193.029408
Name: quantity, dtype: float64
659    419.034673
Name: quantity, dtype: float64
664    576.675356
Name: quantity, dtype: float64
669    684.450109
Name: quantity, dtype: float64
674    664.342879
Name: quantity, dtype: float64
679    554.959548
Name: quantity, dtype: float64
684    327.345704
Name: quantity, dtype: float64
689    156.836394
Name: quantity, dtype: float64
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
754    4.825735
Name: quantity, dtype: float64
759    581.501092
Name: quantity, dtype: float64
764    875.870939
Name: quantity, dtype: float64
769    1295.709901
Name: quantity, dtype: float64
774    1210.455246
Name: quantity, dtype: float64
779    1301.339926
Name: quantity, dtype: float64
784    1211.259535
Name: quantity, dtype: float64
789    518.766534
Name: quantity, dtype: float64
794    163.270708
Name: quantity, dtype: float64
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
859    5.630024
Name: quantity, dtype: float64
864    201.0723
Name: quantity, dtype: float64
869    495.442147
Name: quantity, dtype: float64
874    790.616284
Name: quantity, dtype: float64
879    1087.398998
Name: quantity, dtype: float64
884    645.039938
Name: quantity, dtype: float64
889    1319.034288
Name: quantity, dtype: float64
894    480.160652
Name: quantity, dtype: float64
899    146.380634
Name: quantity, dtype: float64
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
964    13.672916
Name: quantity, dtype: float64
969    322.519969
Name: quantity, dtype: float64
974    508.310774
Name: quantity, dtype: float64
979    716.621677
Name: quantity, dtype: float64
984    904.021061
Name: quantity, dtype: float64
989    882.305252
Name: quantity, dtype: float64
994    606.434057
Name: quantity, dtype: float64
999    434.316168
Name: quantity, dtype: float64
1004    158.444972
Name: quantity, dtype: float64
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
1069    28.150122
Name: quantity, dtype: float64
1074    287.131244
Name: quantity, dtype: float64
1079    1174.262232
Name: quantity, dtype: float64
1084    2058.980352
Name: quantity, dtype: float64
1089    2001.875819
Name: quantity, dtype: float64
1094    1797.586362
Name: quantity, dtype: float64
1099    2030.83023
Name: quantity, dtype: float64
1104    1414.744703
Name: quantity, dtype: float64
1109    637.801336
Name: quantity, dtype: float64
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
1174    68.364582
Name: quantity, dtype: float64
1179    816.353538
Name: quantity, dtype: float64
1184    1492.760755
Name: quantity, dtype: float64
1189    1642.358546
Name: quantity, dtype: float64
1194    1498.39078
Name: quantity, dtype: float64
1199    1823.323616
Name: quantity, dtype: float64
1204    1758.98048
Name: quantity, dtype: float64
1209    1137.264929
Name: quantity, dtype: float64
1214    419.838962
Name: quantity, dtype: float64
1219    8.042892
Name: quantity, dtype: float64
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
1280    82.841788
Name: quantity, dtype: float64
1285    715.817388
Name: quantity, dtype: float64
1290    1577.211121
Name: quantity, dtype: float64
1295    2144.235007
Name: quantity, dtype: float64
1300    2432.97483
Name: quantity, dtype: float64
1305    2415.280468
Name: quantity, dtype: float64
1310    826.809298
Name: quantity, dtype: float64
1315    669.168614
Name: quantity, dtype: float64
1320    260.589701
Name: quantity, dtype: float64
1325    15.281495
Name: quantity, dtype: float64
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
1386    52.278798
Name: quantity, dtype: float64
1391    623.32413
Name: quantity, dtype: float64
1396    1373.725954
Name: quantity, dtype: float64
1401    676.407217
Name: quantity, dtype: float64
1406    784.986259
Name: quantity, dtype: float64
1411    692.493001
Name: quantity, dtype: float64
1416    632.171311
Name: quantity, dtype: float64
1421    399.731732
Name: quantity, dtype: float64
1426    184.182227
Name: quantity, dtype: float64
1431    9.65147
Name: quantity, dtype: float64
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
1492    32.975857
Name: quantity, dtype: float64
1497    195.442276
Name: quantity, dtype: float64
1502    933.779761
Name: quantity, dtype: float64
1507    1291.688455
Name: quantity, dtype: float64
1512    832.439322
Name: quantity, dtype: float64
1517    1559.516759
Name: quantity, dtype: float64
1522    1807.237832
Name: quantity, dtype: float64
1527    1191.956594
Name: quantity, dtype: float64
1532    679.624374
Name: quantity, dtype: float64
1537    47.453063
Name: quantity, dtype: float64
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
1598    161.662129
Name: quantity, dtype: float64
1603    958.712726
Name: quantity, dtype: float64
1608    1541.018107
Name: quantity, dtype: float64
1613    1906.165404
Name: quantity, dtype: float64
1618    2519.838064
Name: quantity, dtype: float64
1623    2326.808656
Name: quantity, dtype: float64
1628    1972.921408
Name: quantity, dtype: float64
1633    481.769231
Name: quantity, dtype: float64
1638    272.654039
Name: quantity, dtype: float64
1643    17.694362
Name: quantity, dtype: float64
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
1704    58.713112
Name: quantity, dtype: float64
1709    272.654039
Name: quantity, dtype: float64
1714    508.310774
Name: quantity, dtype: float64
1719    628.149865
Name: quantity, dtype: float64
1724    707.774496
Name: quantity, dtype: float64
1729    768.900475
Name: quantity, dtype: float64
1734    592.76114
Name: quantity, dtype: float64
1739    468.096314
Name: quantity, dtype: float64
1744    283.109798
Name: quantity, dtype: float64
1749    30.56299
Name: quantity, dtype: float64
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
1810    113.404777
Name: quantity, dtype: float64
1815    387.667394
Name: quantity, dtype: float64
1820    1640.749968
Name: quantity, dtype: float64
1825    2256.031206
Name: quantity, dtype: float64
1830    2525.468088
Name: quantity, dtype: float64
1835    2484.449339
Name: quantity, dtype: float64
1840    1906.969693
Name: quantity, dtype: float64
1845    1010.187235
Name: quantity, dtype: float64
1850    636.997046
Name: quantity, dtype: float64
1855    43.431617
Name: quantity, dtype: float64
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
Series([], Name: quantity, dtype: float64)
1916    76.407474
Name: quantity, dtype: float64
1921    591.956851
Name: quantity, dtype: float64

In [70]:
x.format(formatter=lambda x: x.strftime('%Y    %m    %d  %H:%M.%S'))

['2019    02    01  01:00.00',
 '2019    02    01  02:00.00',
 '2019    02    01  03:00.00',
 '2019    02    01  04:00.00',
 '2019    02    01  05:00.00',
 '2019    02    01  06:00.00',
 '2019    02    01  07:00.00',
 '2019    02    01  08:00.00',
 '2019    02    01  09:00.00',
 '2019    02    01  10:00.00',
 '2019    02    01  11:00.00',
 '2019    02    01  12:00.00',
 '2019    02    01  13:00.00',
 '2019    02    01  14:00.00',
 '2019    02    01  15:00.00',
 '2019    02    01  16:00.00',
 '2019    02    01  17:00.00',
 '2019    02    01  18:00.00',
 '2019    02    01  19:00.00',
 '2019    02    01  20:00.00',
 '2019    02    01  21:00.00',
 '2019    02    01  22:00.00',
 '2019    02    01  23:00.00',
 '2019    02    02  00:00.00',
 '2019    02    02  01:00.00',
 '2019    02    02  02:00.00',
 '2019    02    02  03:00.00',
 '2019    02    02  04:00.00',
 '2019    02    02  05:00.00',
 '2019    02    02  06:00.00',
 '2019    02    02  07:00.00',
 '2019    02    02  08:00.00',
 '2019    02    02  09:00.00',
 '2019    02    02  10:00.00',
 '2019    02    02  11:00.00',
 '2019    02    02  12:00.00',
 '2019    02    02  13:00.00',
 '2019    02    02  14:00.00',
 '2019    02    02  15:00.00',
 '2019    02    02  16:00.00',
 '2019    02    02  17:00.00',
 '2019    02    02  18:00.00',
 '2019    02    02  19:00.00',
 '2019    02    02  20:00.00',
 '2019    02    02  21:00.00',
 '2019    02    02  22:00.00',
 '2019    02    02  23:00.00',
 '2019    02    03  00:00.00',
 '2019    02    03  01:00.00',
 '2019    02    03  02:00.00',
 '2019    02    03  03:00.00',
 '2019    02    03  04:00.00',
 '2019    02    03  05:00.00',
 '2019    02    03  06:00.00',
 '2019    02    03  07:00.00',
 '2019    02    03  08:00.00',
 '2019    02    03  09:00.00',
 '2019    02    03  10:00.00',
 '2019    02    03  11:00.00',
 '2019    02    03  12:00.00',
 '2019    02    03  13:00.00',
 '2019    02    03  14:00.00',
 '2019    02    03  15:00.00',
 '2019    02    03  16:00.00',
 '2019    02    03  17:00.00',
 '2019    02    03  18:00.00',
 '2019    02    03  19:00.00',
 '2019    02    03  20:00.00',
 '2019    02    03  21:00.00',
 '2019    02    03  22:00.00',
 '2019    02    03  23:00.00',
 '2019    02    04  00:00.00',
 '2019    02    04  01:00.00',
 '2019    02    04  02:00.00',
 '2019    02    04  03:00.00',
 '2019    02    04  04:00.00',
 '2019    02    04  05:00.00',
 '2019    02    04  06:00.00',
 '2019    02    04  07:00.00',
 '2019    02    04  08:00.00',
 '2019    02    04  09:00.00',
 '2019    02    04  10:00.00',
 '2019    02    04  11:00.00',
 '2019    02    04  12:00.00',
 '2019    02    04  13:00.00',
 '2019    02    04  14:00.00',
 '2019    02    04  15:00.00',
 '2019    02    04  16:00.00',
 '2019    02    04  17:00.00',
 '2019    02    04  18:00.00',
 '2019    02    04  19:00.00',
 '2019    02    04  20:00.00',
 '2019    02    04  21:00.00',
 '2019    02    04  22:00.00',
 '2019    02    04  23:00.00',
 '2019    02    05  00:00.00',
 '2019    02    05  01:00.00',
 '2019    02    05  02:00.00',
 '2019    02    05  03:00.00',
 '2019    02    05  04:00.00',
 '2019    02    05  05:00.00',
 '2019    02    05  06:00.00',
 '2019    02    05  07:00.00',
 '2019    02    05  08:00.00',
 '2019    02    05  09:00.00',
 '2019    02    05  10:00.00',
 '2019    02    05  11:00.00',
 '2019    02    05  12:00.00',
 '2019    02    05  13:00.00',
 '2019    02    05  14:00.00',
 '2019    02    05  15:00.00',
 '2019    02    05  16:00.00',
 '2019    02    05  17:00.00',
 '2019    02    05  18:00.00',
 '2019    02    05  19:00.00',
 '2019    02    05  20:00.00',
 '2019    02    05  21:00.00',
 '2019    02    05  22:00.00',
 '2019    02    05  23:00.00',
 '2019    02    06  00:00.00',
 '2019    02    06  01:00.00',
 '2019    02    06  02:00.00',
 '2019    02    06  03:00.00',
 '2019    02    06  04:00.00',
 '2019    02    06  05:00.00',
 '2019    02    06  06:00.00',
 '2019    02    06  07:00.00',
 '2019    02    06  08:00.00',
 '2019    02    06  09:00.00',
 '2019    02    06  10:00.00',
 '2019    02    06  11:00.00',
 '2019    02    06  12:00.00',
 '2019    02    06  13:00.00',
 '2019    02    06  14:00.00',
 '2019    02    06  15:00.00',
 '2019    02    06  16:00.00',
 '2019    02    06  17:00.00',
 '2019    02    06  18:00.00',
 '2019    02    06  19:00.00',
 '2019    02    06  20:00.00',
 '2019    02    06  21:00.00',
 '2019    02    06  22:00.00',
 '2019    02    06  23:00.00',
 '2019    02    07  00:00.00',
 '2019    02    07  01:00.00',
 '2019    02    07  02:00.00',
 '2019    02    07  03:00.00',
 '2019    02    07  04:00.00',
 '2019    02    07  05:00.00',
 '2019    02    07  06:00.00',
 '2019    02    07  07:00.00',
 '2019    02    07  08:00.00',
 '2019    02    07  09:00.00',
 '2019    02    07  10:00.00',
 '2019    02    07  11:00.00',
 '2019    02    07  12:00.00',
 '2019    02    07  13:00.00',
 '2019    02    07  14:00.00',
 '2019    02    07  15:00.00',
 '2019    02    07  16:00.00',
 '2019    02    07  17:00.00',
 '2019    02    07  18:00.00',
 '2019    02    07  19:00.00',
 '2019    02    07  20:00.00',
 '2019    02    07  21:00.00',
 '2019    02    07  22:00.00',
 '2019    02    07  23:00.00',
 '2019    02    08  00:00.00',
 '2019    02    08  01:00.00',
 '2019    02    08  02:00.00',
 '2019    02    08  03:00.00',
 '2019    02    08  04:00.00',
 '2019    02    08  05:00.00',
 '2019    02    08  06:00.00',
 '2019    02    08  07:00.00',
 '2019    02    08  08:00.00',
 '2019    02    08  09:00.00',
 '2019    02    08  10:00.00',
 '2019    02    08  11:00.00',
 '2019    02    08  12:00.00',
 '2019    02    08  13:00.00',
 '2019    02    08  14:00.00',
 '2019    02    08  15:00.00',
 '2019    02    08  16:00.00',
 '2019    02    08  17:00.00',
 '2019    02    08  18:00.00',
 '2019    02    08  19:00.00',
 '2019    02    08  20:00.00',
 '2019    02    08  21:00.00',
 '2019    02    08  22:00.00',
 '2019    02    08  23:00.00',
 '2019    02    09  00:00.00',
 '2019    02    09  01:00.00',
 '2019    02    09  02:00.00',
 '2019    02    09  03:00.00',
 '2019    02    09  04:00.00',
 '2019    02    09  05:00.00',
 '2019    02    09  06:00.00',
 '2019    02    09  07:00.00',
 '2019    02    09  08:00.00',
 '2019    02    09  09:00.00',
 '2019    02    09  10:00.00',
 '2019    02    09  11:00.00',
 '2019    02    09  12:00.00',
 '2019    02    09  13:00.00',
 '2019    02    09  14:00.00',
 '2019    02    09  15:00.00',
 '2019    02    09  16:00.00',
 '2019    02    09  17:00.00',
 '2019    02    09  18:00.00',
 '2019    02    09  19:00.00',
 '2019    02    09  20:00.00',
 '2019    02    09  21:00.00',
 '2019    02    09  22:00.00',
 '2019    02    09  23:00.00',
 '2019    02    10  00:00.00',
 '2019    02    10  01:00.00',
 '2019    02    10  02:00.00',
 '2019    02    10  03:00.00',
 '2019    02    10  04:00.00',
 '2019    02    10  05:00.00',
 '2019    02    10  06:00.00',
 '2019    02    10  07:00.00',
 '2019    02    10  08:00.00',
 '2019    02    10  09:00.00',
 '2019    02    10  10:00.00',
 '2019    02    10  11:00.00',
 '2019    02    10  12:00.00',
 '2019    02    10  13:00.00',
 '2019    02    10  14:00.00',
 '2019    02    10  15:00.00',
 '2019    02    10  16:00.00',
 '2019    02    10  17:00.00',
 '2019    02    10  18:00.00',
 '2019    02    10  19:00.00',
 '2019    02    10  20:00.00',
 '2019    02    10  21:00.00',
 '2019    02    10  22:00.00',
 '2019    02    10  23:00.00',
 '2019    02    11  00:00.00',
 '2019    02    11  01:00.00',
 '2019    02    11  02:00.00',
 '2019    02    11  03:00.00',
 '2019    02    11  04:00.00',
 '2019    02    11  05:00.00',
 '2019    02    11  06:00.00',
 '2019    02    11  07:00.00',
 '2019    02    11  08:00.00',
 '2019    02    11  09:00.00',
 '2019    02    11  10:00.00',
 '2019    02    11  11:00.00',
 '2019    02    11  12:00.00',
 '2019    02    11  13:00.00',
 '2019    02    11  14:00.00',
 '2019    02    11  15:00.00',
 '2019    02    11  16:00.00',
 '2019    02    11  17:00.00',
 '2019    02    11  18:00.00',
 '2019    02    11  19:00.00',
 '2019    02    11  20:00.00',
 '2019    02    11  21:00.00',
 '2019    02    11  22:00.00',
 '2019    02    11  23:00.00',
 '2019    02    12  00:00.00',
 '2019    02    12  01:00.00',
 '2019    02    12  02:00.00',
 '2019    02    12  03:00.00',
 '2019    02    12  04:00.00',
 '2019    02    12  05:00.00',
 '2019    02    12  06:00.00',
 '2019    02    12  07:00.00',
 '2019    02    12  08:00.00',
 '2019    02    12  09:00.00',
 '2019    02    12  10:00.00',
 '2019    02    12  11:00.00',
 '2019    02    12  12:00.00',
 '2019    02    12  13:00.00',
 '2019    02    12  14:00.00',
 '2019    02    12  15:00.00',
 '2019    02    12  16:00.00',
 '2019    02    12  17:00.00',
 '2019    02    12  18:00.00',
 '2019    02    12  19:00.00',
 '2019    02    12  20:00.00',
 '2019    02    12  21:00.00',
 '2019    02    12  22:00.00',
 '2019    02    12  23:00.00',
 '2019    02    13  00:00.00',
 '2019    02    13  01:00.00',
 '2019    02    13  02:00.00',
 '2019    02    13  03:00.00',
 '2019    02    13  04:00.00',
 '2019    02    13  05:00.00',
 '2019    02    13  06:00.00',
 '2019    02    13  07:00.00',
 '2019    02    13  08:00.00',
 '2019    02    13  09:00.00',
 '2019    02    13  10:00.00',
 '2019    02    13  11:00.00',
 '2019    02    13  12:00.00',
 '2019    02    13  13:00.00',
 '2019    02    13  14:00.00',
 '2019    02    13  15:00.00',
 '2019    02    13  16:00.00',
 '2019    02    13  17:00.00',
 '2019    02    13  18:00.00',
 '2019    02    13  19:00.00',
 '2019    02    13  20:00.00',
 '2019    02    13  21:00.00',
 '2019    02    13  22:00.00',
 '2019    02    13  23:00.00',
 '2019    02    14  00:00.00',
 '2019    02    14  01:00.00',
 '2019    02    14  02:00.00',
 '2019    02    14  03:00.00',
 '2019    02    14  04:00.00',
 '2019    02    14  05:00.00',
 '2019    02    14  06:00.00',
 '2019    02    14  07:00.00',
 '2019    02    14  08:00.00',
 '2019    02    14  09:00.00',
 '2019    02    14  10:00.00',
 '2019    02    14  11:00.00',
 '2019    02    14  12:00.00',
 '2019    02    14  13:00.00',
 '2019    02    14  14:00.00',
 '2019    02    14  15:00.00',
 '2019    02    14  16:00.00',
 '2019    02    14  17:00.00',
 '2019    02    14  18:00.00',
 '2019    02    14  19:00.00',
 '2019    02    14  20:00.00',
 '2019    02    14  21:00.00',
 '2019    02    14  22:00.00',
 '2019    02    14  23:00.00',
 '2019    02    15  00:00.00',
 '2019    02    15  01:00.00',
 '2019    02    15  02:00.00',
 '2019    02    15  03:00.00',
 '2019    02    15  04:00.00',
 '2019    02    15  05:00.00',
 '2019    02    15  06:00.00',
 '2019    02    15  07:00.00',
 '2019    02    15  08:00.00',
 '2019    02    15  09:00.00',
 '2019    02    15  10:00.00',
 '2019    02    15  11:00.00',
 '2019    02    15  12:00.00',
 '2019    02    15  13:00.00',
 '2019    02    15  14:00.00',
 '2019    02    15  15:00.00',
 '2019    02    15  16:00.00',
 '2019    02    15  17:00.00',
 '2019    02    15  18:00.00',
 '2019    02    15  19:00.00',
 '2019    02    15  20:00.00',
 '2019    02    15  21:00.00',
 '2019    02    15  22:00.00',
 '2019    02    15  23:00.00',
 '2019    02    16  00:00.00',
 '2019    02    16  01:00.00',
 '2019    02    16  02:00.00',
 '2019    02    16  03:00.00',
 '2019    02    16  04:00.00',
 '2019    02    16  05:00.00',
 '2019    02    16  06:00.00',
 '2019    02    16  07:00.00',
 '2019    02    16  08:00.00',
 '2019    02    16  09:00.00',
 '2019    02    16  10:00.00',
 '2019    02    16  11:00.00',
 '2019    02    16  12:00.00',
 '2019    02    16  13:00.00',
 '2019    02    16  14:00.00',
 '2019    02    16  15:00.00',
 '2019    02    16  16:00.00',
 '2019    02    16  17:00.00',
 '2019    02    16  18:00.00',
 '2019    02    16  19:00.00',
 '2019    02    16  20:00.00',
 '2019    02    16  21:00.00',
 '2019    02    16  22:00.00',
 '2019    02    16  23:00.00',
 '2019    02    17  00:00.00',
 '2019    02    17  01:00.00',
 '2019    02    17  02:00.00',
 '2019    02    17  03:00.00',
 '2019    02    17  04:00.00',
 '2019    02    17  05:00.00',
 '2019    02    17  06:00.00',
 '2019    02    17  07:00.00',
 '2019    02    17  08:00.00',
 '2019    02    17  09:00.00',
 '2019    02    17  10:00.00',
 '2019    02    17  11:00.00',
 '2019    02    17  12:00.00',
 '2019    02    17  13:00.00',
 '2019    02    17  14:00.00',
 '2019    02    17  15:00.00',
 '2019    02    17  16:00.00',
 '2019    02    17  17:00.00',
 '2019    02    17  18:00.00',
 '2019    02    17  19:00.00',
 '2019    02    17  20:00.00',
 '2019    02    17  21:00.00',
 '2019    02    17  22:00.00',
 '2019    02    17  23:00.00',
 '2019    02    18  00:00.00',
 '2019    02    18  01:00.00',
 '2019    02    18  02:00.00',
 '2019    02    18  03:00.00',
 '2019    02    18  04:00.00',
 '2019    02    18  05:00.00',
 '2019    02    18  06:00.00',
 '2019    02    18  07:00.00',
 '2019    02    18  08:00.00',
 '2019    02    18  09:00.00',
 '2019    02    18  10:00.00',
 '2019    02    18  11:00.00',
 '2019    02    18  12:00.00',
 '2019    02    18  13:00.00',
 '2019    02    18  14:00.00',
 '2019    02    18  15:00.00',
 '2019    02    18  16:00.00',
 '2019    02    18  17:00.00',
 '2019    02    18  18:00.00',
 '2019    02    18  19:00.00',
 '2019    02    18  20:00.00',
 '2019    02    18  21:00.00',
 '2019    02    18  22:00.00',
 '2019    02    18  23:00.00',
 '2019    02    19  00:00.00',
 '2019    02    19  01:00.00',
 '2019    02    19  02:00.00',
 '2019    02    19  03:00.00',
 '2019    02    19  04:00.00',
 '2019    02    19  05:00.00',
 '2019    02    19  06:00.00',
 '2019    02    19  07:00.00',
 '2019    02    19  08:00.00',
 '2019    02    19  09:00.00',
 '2019    02    19  10:00.00',
 '2019    02    19  11:00.00',
 '2019    02    19  12:00.00',
 '2019    02    19  13:00.00',
 '2019    02    19  14:00.00',
 '2019    02    19  15:00.00',
 '2019    02    19  16:00.00',
 '2019    02    19  17:00.00',
 '2019    02    19  18:00.00',
 '2019    02    19  19:00.00',
 '2019    02    19  20:00.00',
 '2019    02    19  21:00.00',
 '2019    02    19  22:00.00',
 '2019    02    19  23:00.00',
 '2019    02    20  00:00.00',
 '2019    02    20  01:00.00',
 '2019    02    20  02:00.00',
 '2019    02    20  03:00.00',
 '2019    02    20  04:00.00',
 '2019    02    20  05:00.00',
 '2019    02    20  06:00.00',
 '2019    02    20  07:00.00',
 '2019    02    20  08:00.00',
 '2019    02    20  09:00.00',
 '2019    02    20  10:00.00',
 '2019    02    20  11:00.00',
 '2019    02    20  12:00.00',
 '2019    02    20  13:00.00',
 '2019    02    20  14:00.00',
 '2019    02    20  15:00.00',
 '2019    02    20  16:00.00',
 '2019    02    20  17:00.00',
 '2019    02    20  18:00.00',
 '2019    02    20  19:00.00',
 '2019    02    20  20:00.00',
 '2019    02    20  21:00.00',
 '2019    02    20  22:00.00',
 '2019    02    20  23:00.00',
 '2019    02    21  00:00.00',
 '2019    02    21  01:00.00',
 '2019    02    21  02:00.00',
 '2019    02    21  03:00.00',
 '2019    02    21  04:00.00',
 '2019    02    21  05:00.00',
 '2019    02    21  06:00.00',
 '2019    02    21  07:00.00',
 '2019    02    21  08:00.00',
 '2019    02    21  09:00.00',
 '2019    02    21  10:00.00',
 '2019    02    21  11:00.00',
 '2019    02    21  12:00.00',
 '2019    02    21  13:00.00',
 '2019    02    21  14:00.00',
 '2019    02    21  15:00.00',
 '2019    02    21  16:00.00',
 '2019    02    21  17:00.00',
 '2019    02    21  18:00.00',
 '2019    02    21  19:00.00',
 '2019    02    21  20:00.00',
 '2019    02    21  21:00.00',
 '2019    02    21  22:00.00',
 '2019    02    21  23:00.00',
 '2019    02    22  00:00.00',
 '2019    02    22  01:00.00',
 '2019    02    22  02:00.00',
 '2019    02    22  03:00.00',
 '2019    02    22  04:00.00',
 '2019    02    22  05:00.00',
 '2019    02    22  06:00.00',
 '2019    02    22  07:00.00',
 '2019    02    22  08:00.00',
 '2019    02    22  09:00.00',
 '2019    02    22  10:00.00',
 '2019    02    22  11:00.00',
 '2019    02    22  12:00.00',
 '2019    02    22  13:00.00',
 '2019    02    22  14:00.00',
 '2019    02    22  15:00.00',
 '2019    02    22  16:00.00',
 '2019    02    22  17:00.00',
 '2019    02    22  18:00.00',
 '2019    02    22  19:00.00',
 '2019    02    22  20:00.00',
 '2019    02    22  21:00.00',
 '2019    02    22  22:00.00',
 '2019    02    22  23:00.00',
 '2019    02    23  00:00.00',
 '2019    02    23  01:00.00',
 '2019    02    23  02:00.00',
 '2019    02    23  03:00.00',
 '2019    02    23  04:00.00',
 '2019    02    23  05:00.00',
 '2019    02    23  06:00.00',
 '2019    02    23  07:00.00',
 '2019    02    23  08:00.00',
 '2019    02    23  09:00.00',
 '2019    02    23  10:00.00',
 '2019    02    23  11:00.00',
 '2019    02    23  12:00.00',
 '2019    02    23  13:00.00',
 '2019    02    23  14:00.00',
 '2019    02    23  15:00.00',
 '2019    02    23  16:00.00',
 '2019    02    23  17:00.00',
 '2019    02    23  18:00.00',
 '2019    02    23  19:00.00',
 '2019    02    23  20:00.00',
 '2019    02    23  21:00.00',
 '2019    02    23  22:00.00',
 '2019    02    23  23:00.00',
 '2019    02    24  00:00.00',
 '2019    02    24  01:00.00',
 '2019    02    24  02:00.00',
 '2019    02    24  03:00.00',
 '2019    02    24  04:00.00',
 '2019    02    24  05:00.00',
 '2019    02    24  06:00.00',
 '2019    02    24  07:00.00',
 '2019    02    24  08:00.00',
 '2019    02    24  09:00.00',
 '2019    02    24  10:00.00',
 '2019    02    24  11:00.00',
 '2019    02    24  12:00.00',
 '2019    02    24  13:00.00',
 '2019    02    24  14:00.00',
 '2019    02    24  15:00.00',
 '2019    02    24  16:00.00',
 '2019    02    24  17:00.00',
 '2019    02    24  18:00.00',
 '2019    02    24  19:00.00',
 '2019    02    24  20:00.00',
 '2019    02    24  21:00.00',
 '2019    02    24  22:00.00',
 '2019    02    24  23:00.00',
 '2019    02    25  00:00.00',
 '2019    02    25  01:00.00',
 '2019    02    25  02:00.00',
 '2019    02    25  03:00.00',
 '2019    02    25  04:00.00',
 '2019    02    25  05:00.00',
 '2019    02    25  06:00.00',
 '2019    02    25  07:00.00',
 '2019    02    25  08:00.00',
 '2019    02    25  09:00.00',
 '2019    02    25  10:00.00',
 '2019    02    25  11:00.00',
 '2019    02    25  12:00.00',
 '2019    02    25  13:00.00',
 '2019    02    25  14:00.00',
 '2019    02    25  15:00.00',
 '2019    02    25  16:00.00',
 '2019    02    25  17:00.00',
 '2019    02    25  18:00.00',
 '2019    02    25  19:00.00',
 '2019    02    25  20:00.00',
 '2019    02    25  21:00.00',
 '2019    02    25  22:00.00',
 '2019    02    25  23:00.00',
 '2019    02    26  00:00.00',
 '2019    02    26  01:00.00',
 '2019    02    26  02:00.00',
 '2019    02    26  03:00.00',
 '2019    02    26  04:00.00',
 '2019    02    26  05:00.00',
 '2019    02    26  06:00.00',
 '2019    02    26  07:00.00',
 '2019    02    26  08:00.00',
 '2019    02    26  09:00.00',
 '2019    02    26  10:00.00',
 '2019    02    26  11:00.00',
 '2019    02    26  12:00.00',
 '2019    02    26  13:00.00',
 '2019    02    26  14:00.00',
 '2019    02    26  15:00.00',
 '2019    02    26  16:00.00',
 '2019    02    26  17:00.00',
 '2019    02    26  18:00.00',
 '2019    02    26  19:00.00',
 '2019    02    26  20:00.00',
 '2019    02    26  21:00.00',
 '2019    02    26  22:00.00',
 '2019    02    26  23:00.00',
 '2019    02    27  00:00.00',
 '2019    02    27  01:00.00',
 '2019    02    27  02:00.00',
 '2019    02    27  03:00.00',
 '2019    02    27  04:00.00',
 '2019    02    27  05:00.00',
 '2019    02    27  06:00.00',
 '2019    02    27  07:00.00',
 '2019    02    27  08:00.00',
 '2019    02    27  09:00.00',
 '2019    02    27  10:00.00',
 '2019    02    27  11:00.00',
 '2019    02    27  12:00.00',
 '2019    02    27  13:00.00',
 '2019    02    27  14:00.00',
 '2019    02    27  15:00.00',
 '2019    02    27  16:00.00',
 '2019    02    27  17:00.00',
 '2019    02    27  18:00.00',
 '2019    02    27  19:00.00',
 '2019    02    27  20:00.00',
 '2019    02    27  21:00.00',

In [114]:
show(grid)